black/**style sheet**/
/**rvwove margin**/
*
{
  margin: 0;
}
/**clear float attribute**/
.clear
{
  clear: both;
}
/**style body**/
body
{
  background-color: #C5CAE9;
  animation: fadein 3s;
  scroll-behavior: smooth;
}
span
{
  font-size: 1vw;
}
/* style legend */
legend
{
  font-size: 2vw;
  font-style: normal;
  font-weight: bold;
  font-family: monospace;
  color: black;
}
/**styling up the labels**/
label
{
  font-size: 1.1vw;
  font-style: normal;
  font-weight: bold;
  color: black;
}
/**edit button**/
button
{
  background-color: #9FA8DA;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px #888888;
  width: 100%;
  border-radius: 10px;
  font-family: monospace;
  opacity: 0.8;
}

button:hover {
  -webkit-animation: beat 1.5s infinite alternate;
  -moz-animation: beat 1.5s infinite alternate;
  -ms-animation: beat 1.5s infinite alternate;
  -o-animation: beat 1.5s infinite alternate;
  animation: beat 1.5s infinite alternate;
}

span:hover {
  -webkit-animation: beat 1.5s infinite alternate;
  -moz-animation: beat 1.5s infinite alternate;
  -ms-animation: beat 1.5s infinite alternate;
  -o-animation: beat 1.5s infinite alternate;
  animation: beat 1.5s infinite alternate;
}
/* Full-width inputs */
input[type=text],
input[type=password],
input[type=email],
textarea
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    opacity: 0.8;
    font-size: 1.1vw;
    font-weight: bold;
    color: blue;
    font-weight: bold;
    font-family: serif;

}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
textarea:hover
{
    opacity: 1;
}

/**formaat a**/
a
{
  text-decoration: none;
  text-decoration-style: solid;
  color: #2196F3;
}
/**animations**/
/**fade in animations**/

@keyframes fadein
{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes fade
{
  from{opacity: 0;}
  to{opacity: 1;}
}
@-moz-keyframes fade
{
  from{opacity: 0;}
  to{opacity: 1;}
}



/***style navigation bar*/
/**style header**/
.nav_header
{
  background-color: #9FA8DA;
  z-index: 1;
  height:40px;
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  transition: top 3s;
}
/**format logo class**/
.logo
{
  float: left;
}

.logo span
{
  font-weight: 400;
  font-size: 2vw;
  align-self: center;
  text-align: center;
  float: left;
}

#error
{
  color: red;
  font-size: 1vw;
}

.error{
  color: red;
  font-size: 1vw;
}
/**format hambuger icon**/

.logo img
{
  width: 2%;
  height: 2%;
  opacity: 0;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.logo img:hover
{
  opacity: 1;
}

/
.right_bar img
{
  width: 5%;
}
.search_form
{
  width: 60%;
  float: left;
}


/**format right_bar**/
.right_bar
{
  float: right;
  padding: 10px;
}

.right_bar span
{
  font-size: 1.1vw;
  width: 20%;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 10px
  padding: 10px;
  opacity: 0.8;
  color: black;
}

.right_bar span:hover
{
  opacity: 1;
}

/**edit signin_content**/
.signin_content
{
  margin-left: 35%;
  margin-top: 10%;
  width: 25%;
}
/**style signup content**/
.signin_content button
{
  margin-top: 10px;
  margin-bottom: 10px
}

.signin_form
{
  width: 90%;
}
.signin_content button:hover
{
  opacity: 1;
}

.signin_content fieldset
{
  border-radius: 10px;
}

.signin_content a:hover
{
  color: black;

}
.signin_content fieldset:hover
{
    box-shadow: 3px 3px 3px #888888;
}

/**style ask question and side nav bar**/
.side_navbar
{
  float: left;
  width: 10%;
  margin-left: 1%;
  padding: 2%;
  box-shadow: 1px 1px 1px black;
  border-width: thin;
  border-color: cyan;
  height: 100vh;
}
/**style ask question button**/
/**format search field**/
.search_form input[type=search]
{
  width: 50%;
  border-radius: 5px;
  opacity: 0.9;
  float: left;
  color: black;
  margin-bottom: 20px;
  font-size: 1.1vw;
  background: none;
  margin-left: 25%;
  margin-top: 9%;
}

.nav_header input[type=search]:hover
{
  opacity: 1;
}
/**edit logo search button**/
#search_btn
{
  opacity: 0.8;
  width: 12%;
  margin-top: 9%;
  margin-left: 0.5%;
}

#search_btn:hover
{
  opacity: 1;
}
/**styling create button**/
#ask_question
{
  float: left;
  margin-top: 5%;
  margin-bottom: 20px;
  width:10%;
  margin-left: 2%;
  border-radius: 50px;
  box-shadow: 5px 5px 5px black;
  color: black;
  background: none;
  font-size: 1vw;
  font-style: oblique;
  font-weight: bold;
  opacity: 0.8;
}

#ask_question:hover
{
  opacity: 1;
}
/**styling sidebar**/
.side_navbar img
{
  width: 10%;
  margin-left: 45%;
  margin-top: 5%;
}

.side_navbar span
{
  font-size: 1.1vw;
  color: black
}

.side_navbar a{
  padding: 10px;
  display: block;
  opacity: 0.8;
}
.side_navbar a:hover{
  box-shadow: 2px 1px 1px black;
  opacity: 1;
}

/**style question holder**/
.question_holder
{

  float: left;
  width: 99%;
  margin-bottom: 1%;
  background-color: none;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  margin-right: 1%;
  padding: 1%;
}

/**format answers user_holder**/
.question_description
{
  float: left;
  width: 96%;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: #C5CAE9;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  padding: 2%;
  font-size: 1.1vw;
}

/**answer_labels**/

/**style answer_holder**/
.answer_holder
{
  float: left;
  width: 98%;
  margin-bottom: 1%;
  margin-right: 1%;
  background-color: none;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.1vw;
}

.answer_holder img
{
  width: 2%;
  float: left;
}

.answer_holder a
{
  color: black;
  font-size: 1vw;
  opacity: 0.8;
}

.answer_holder a:hover{
  opacity: 1;
}

/***styling upvote and downvote***/

.votes
{
  width: auto;
  float:right;
  margin-right: 5%;
  font-size: 0.8vw;
  padding-left: 1%;
}

.time{
  margin-left: 1%;
}

.downvote{
  margin-right: 5%;
}

.votes a
{
  box-shadow: 5px 5px 5px #888888;
  border-radius: 10px;
  margin-right: 5%;
  width: 20%;
  padding: 10%;
  margin-left: 1%;
  opacity: .3;
  margin-bottom: 5%;
}
h4 {
  font-size: 2vw;
}
.votes_labels{
  margin-left: 0.5%;
}

.comment_title{
  font-size: 0.8vw;
}

/**styling answers textarea**/

.answer_form h3{
  color: black;
}

.answer_form button{
  float: right;
  width: 20%;
  opacity: 0.8;
}
.answer_form button:hover{
  opacity: 1;
}
.answer_holder textarea
{
  float: left;
  width: 85%;
  padding-left: 1%;
  padding-right: 1%;
}

.delete_modal {
  width: 100%;
  padding-top: 20%;
  padding-right: 10%;
  height: 40%;
  position: fixed;
  text-align:  center;
  display: block;
 position: fixed;
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 animation: fadein 0.25s; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(); /* Fallback color */
 background-color: rgba();
}

.loading_image {
  width: 20%;
  text-align: center;
}

.close_delete_modal{
  animation: scaleout 1s;
}

.delete_modal button{
  width: 30%;
  margin-left: 10%;
  margin-top: 0.5%;
  opacity: 0.8;
}
.delete_modal fieldset{
  width: 20%;
  margin-left: 40%;
  border-radius: 10px;
  font-size: 3vw;
  background-color: ;
  color: white;
  background-color: #5C6BC0;
  animation: scale 1s;
}

@-webkit-keyframes scale /* Safari and Chrome */ {
  from {
    width: 0%;
    border-radius: 1px;
  }
  to {
    width: 20%;
    border-radius: 10px;
  }
}

@keyframes scale /* Safari and Chrome */ {
  from {
    width: 5%;
    border-radius: 5px;
  }
  to {
    width: 20%;
    border-radius: 10px;
  }
}

@-moz-keyframes scale /* Safari and Chrome */ {
  from {
    width: 0%;
    border-radius: 1px;
  }
  to {
    width: 20%;
    border-radius: 10px;
  }
}

@-webkit-keyframes scaleout /* Safari and Chrome */ {
  from {
    width: 20%;
    border-radius: 1px;
  }
  to {
    width: 0%;
    border-radius: 10px;
  }
}

@keyframes scaleout /* Safari and Chrome */ {
  from {
    width: 20%;
    border-radius: 5px;
  }
  to {
    width: 0%;
    border-radius: 10px;
  }
}

@-moz-keyframes scaleout /* Safari and Chrome */ {
  from {
    width: 20%;
    border-radius: 1px;
  }
  to {
    width: 0%;
    border-radius: 10px;
  }
}

#delete_btn {
  background-color: #F48FB1;
}

#delet_cancel_btn{
  background-color:
}
/***styling commnet***/
.answer
{
  background-color: #CFD8DC;
  padding: 1%;
  overflow-wrap: break-word;
  display: inline-block;
  font-size: 1.1vw;
  margin-bottom: 1%;
  margin-right: 1%;
  border-radius: 10px;
}
/**styling answers labels i.e votes, username**/

.answers_labels{
  background-color: white;
  height: 2%;
  width: 100%;
  border-radius: 10px;
}


.answer_username{
  margin-left: 1%;
}
/**styling comment button**/
.answer_holder button{
  float: left;
  width: 10%;
  margin-left: 1%;
  padding: 1%;
  margin-top: 3%;
  font-size: 1vw;
  opacity: 0.8;
}
.answer_holder button:hover{
  opacity: 1;
}


/**styling forum content**/
.forum_content
{
  float: left;
  margin-left: 1%;
  border-radius: 10px;
  width: 82%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 110vh;
  padding: 1%;
}

/** styling comeholder **/

.comment_holder span{
  float: right;
}
.comment_labels{
  margin-bottom: 1%;
  box-shadow: 1px 1px 1px #B0BEC5;
  border-radius: 10px
}
/**style forum_title**/
#forum_title
{
padding-left: 3%;
margin-left: 35%;
font-size: 2vw;
font-style: oblique;
font-family: monospace;
}

h4{
  font-size: 1.5vw;
}

/**style question_title**/

#question_title{
  margin-bottom: 1%;
  margin-left: 16%;
  font-size: 2vw;
}

/**style labels**/
.username{
  font-size: 1.5vw;
  color: black;
  opacity: 0.8;
}

.username:hover{
  opacity: 1;
}

.question_header
{
  float: left;
  color: black;
  margin-left: 1%;
  font-size: 1.1vw;
  opacity:0.8;
}

.question_header:hover{
  opacity: 1;
}

.question_numbers
{
  margin-right: 1%;
  font-size: 1vw;
  color: black;
  opacity: 0.8;
}

.numbers_labels
{
  font-size: 1vw;
  color: black;
  opacity: 0.8;
}

.time{
  font-size: 1vw;
  color: black;
  opacity: 0.8;
  /* float: left; */
}

/*style profile pic*/
.user_image img{
  width: 5%;
  height:5%;
  border-radius: 50px;
  float: left;
  margin-right: 1%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading{
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/**style right_navbar**/
.users{
  float: left;
  width: 20%;
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 110vh;
}

.delete
{
  width: 5%;
  padding: 0.5%;
  font-size: 0.8vw;
  background-color: #F48FB1;
  margin-left: .2%;
  opacity: 0.5;
  color: black;
}

.answer_delete{
  width: 5%;
  padding: 0.5%;
  font-size: 0.8vw;
  background-color: #F48FB1;
  margin-left: .2%;
  opacity: 1;
  color: black;
}



.edit_control{
  width: 40%;
}

.answer_edit{
  width: 5%;
  padding: 0.5%;
  font-size: 0.8vw;
  margin-left: 1%;
  background-color: #9FA8DA;
  opacity: 1;
  color: black;
}

.edit{
  width: 5%;
  padding: 0.5%;
  font-size: 0.8vw;
  margin-left: 1%;
  background-color: #9FA8DA;
  opacity: 0.5;
  color: black;
}

.edit:hover ,.delete:hover{
  opacity: 1;
}

.user_holder{
  margin-bottom: 1%;
  box-shadow: 1px 1px 1px #CFD8DC;
  border-radius: 20px;
  padding: 3%;
}
.users a{
  display: block;
  margin-left: 22%;
  margin-bottom: 1%;
  font-size: 1.1vw;
  opacity: 0.8;
  color: black;
}

.users a:hover{
  opacity: 1;
}

.users span{
  display: block;
  font-size: 1.1vw;
  margin-bottom: 1%;
  color: black;
  margin-left: 22%;
  opacity: 0.8;
}
.right_bar_container img{
  width: 5%;
  margin-left: 1%;
}
.users img{
  width: 20%;
  float: left;
  border-radius: 50px;
}
/**format user account**/
 /**format user image**/

 #user_account_image{
   width: 80%;
   float: left;
   margin-left: 1%;
   border-radius: 50px;
   margin-bottom: 3%;
 }

 #sort_by{
   display: block;
   background: none;
   color: white;
   opacity: 0.8;
   font-size: 1.1vw;
   box-shadow: 1px 1px 1px grey;
   width: 100%;
   padding: 5%;
   margin-top: 10%;
   background: #5C6BC0;
   border-radius:10px;
   opacity: 0.8;
 }

 #sort_by:hover{
   opacity: 1;
 }

 option {
   color: black;
   box-shadow: 1px 1px 1px grey;
   border-radius: 10px;
 }

 .hide{
   display: none;
 }
/**styling head_labels***/
 .head_labels a
 {
   padding-left: 1%;
   padding-right: 1%;
   margin-left: 1%;
   color: black;
   box-sizing: border-box;
   box-shadow: 1px 1px 1px black;
 }

 .elevate {
   z-index: 1;
 }

 .accept{
   margin-left: 0.5%;
 }

 /**style the question modal**/
 .question_modal{
   display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    animation: fadein 0.25s;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
/**format textarea***/
 textarea{
   font-size: 1.1v
 }

 .question_modal form{
   width: 40%;
   font-size: 1.1vw;
   border-radius: 10px;
   margin-left: 25%;
   margin-top: 10%;
 }
 .question_modal fieldset{
   border-radius: 10px;
   font-size: 1.1vh;
 }
 #ask{
   width: 30%;
   float: right;
   font-size: 1.1vw;
 }

 .ask
 {
   width: 30%;
   float: right;
   font-size: 1.1vw;
 }

 .show{
   display: block;
 }

 #cancel{
   width: 30%;
   float: left;
   font-size: 1.1vw;
 }

 #update_cancel{
   width: 30%;
   float: left;
   font-size: 1.1vw;
 }
.home_content{
  color: white;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  font-size: 1.1vw;
}

.home_content p{
  margin-top: 2%;
  margin-bottom: 2%;
}

@-webkit-keyframes dot-keyframes {
  0% {
    opacity: .4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    opacity: .4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes dot-keyframes {
  0% {
    opacity: .4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    opacity: .4;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.loading-dots {
  text-align: center;
  width: 100%;
  align-content: center;
  margin-top: 20%;
}
.loading-dots--dot {
  -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
          animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: #000;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
}
.loading-dots--dot:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.loading-dots--dot:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.home_content button{
  width: 40%;
  float: right;
}



#delete_btn:hover, #delet_cancel_btn:hover, .delete:hover
, .edit:hover {
	/*font-size: 150px;
	color: #e00;*/
	-webkit-animation: beat 1.5s infinite alternate;
	-moz-animation: beat 1.5s infinite alternate;
	-ms-animation: beat 1.5s infinite alternate;
	-o-animation: beat 1.5s infinite alternate;
	animation: beat 1.5s infinite alternate;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}


@keyframes "beat" {
 to {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }

}

@-moz-keyframes beat {
 to {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }

}

@-webkit-keyframes "beat" {
 to {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }

}

@-ms-keyframes "beat" {
 to {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }

}

@-o-keyframes "beat" {
 to {
   -o-transform: scale(1.1);
   transform: scale(1.1);
 }

}

/** styling coment_holder **/
.comment_holder span{
  float: right;
}
.comment_labels{
  margin-bottom: 1%;
  box-shadow: 1px 1px 1px #B0BEC5;
  border-radius: 10px
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #FFF;
  zIndex:4;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #FFF;
}

#successAnimationResult {
  fill: #FFF;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}
